@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Comfortaa:wght@400;700&family=Fredoka+One&family=Gochi+Hand&family=Handlee&family=Henny+Penny&family=Ovo&family=Pacifico&family=Short+Stack&display=swap');

body {
	background-image: url("egg.png");
	background-repeat: no-repeat;
	background-size: 900px;

}

h1 {
	font-family: 'chewy', cursive;
	font-size: 74px;
	color: #88ccd5;
	text-align: center;
	margin-bottom: 10px;
	background-color: white;
}

.text {
	background-color: white;
	font-family: 'short stack', cursive;
	color: #f78888;
	text-align: center;
	font-size: 35px;
	margin-left: auto;
	position: absolute;
	right: 0px;
	width: 500px;
	height: 100%;
	padding-right: 50px;


}

section {
	background-color: #f78888;
	border-radius: 30px;
	width: 500px;
	height: 45px;
}
a:link {
	color: #f3d250;
	text-decoration: none;
	border-radius: 50px;
	background-color: #f78888;
}

a:hover {
	border: solid #88ccd5;
	border-radius: 50px;
	background-color: #88ccd5;
}

input {
	display: block;
	width: 100%;
	padding: 1.5em;
	box-sizing: border-box;
	border-radius: 3px;
	border-color: #88ccd5;
	margin-bottom: 10px;

}

input[type="submit"] {
	display: block;
	width: 60%;
	margin: 0 auto;
	height: 2em;
	font-size: 40px;
	color: #f3d250;
	font-family: 'Comfortaa', cursive;
	background-color: #f78888;
	border-color: #f78888;
	border-radius: 50px;
	margin-top: 30px;
	padding: 0;

}

input[type="submit"]:hover {
	display: block;
	width: 60%;
	margin: 0 auto;
	height: 2em;
	font-size: 40px;
	color: #f3d250;
	font-family: 'Comfortaa', cursive;
	background-color: #88ccd5;
	border-color: #88ccd5;
	border-radius: 50px;
	margin-top: 30px;
	cursor: pointer;
	padding: 0;
	

}

footer {
	font-family: 'short stack', cursive;
	color: white;
	position: fixed;
	bottom: 0;
	background-color: #f3d250;
	width: 1920px;
	height: 70px;
	opacity: 0.5;
	margin: 0;
	left: 0;
	
}
